In [94]:
import pandas as pd

main = pd.read_excel("Retail-Supply-Chain-Sales-Dataset.xlsx", sheet_name="Retails Order Full Dataset")
cal = pd.read_excel("Retail-Supply-Chain-Sales-Dataset.xlsx", sheet_name="Calendar Table")

In [95]:
main.head(15)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Retail Sales People,Product ID,Category,Sub-Category,Product Name,Returned,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Cassandra Brandow,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,Not,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Cassandra Brandow,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Not,731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-12-06,2016-12-06,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Anna Andreadi,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,Not,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-11-10,2015-11-10,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Cassandra Brandow,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,Not,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-11-10,2015-11-10,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Cassandra Brandow,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,Not,22.3680,2,0.20,2.5164
5,6,CA-2014-115812,2014-09-06,2014-09-06,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Anna Andreadi,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,Not,48.8600,7,0.00,14.1694
6,7,CA-2014-115812,2014-09-06,2014-09-06,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Anna Andreadi,OFF-AR-10002833,Office Supplies,Art,Newell 322,Not,7.2800,4,0.00,1.9656
7,8,CA-2014-115812,2014-09-06,2014-09-06,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Anna Andreadi,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,Not,907.1520,6,0.20,90.7152
8,9,CA-2014-115812,2014-09-06,2014-09-06,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Anna Andreadi,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,Not,18.5040,3,0.20,5.7825
9,10,CA-2014-115812,2014-09-06,2014-09-06,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Anna Andreadi,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,Not,114.9000,5,0.00,34.4700
10,11,CA-2014-115812,2014-09-06,2014-09-06,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Anna Andreadi,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,Not,1706.1840,9,0.20,85.3092
11,12,CA-2014-115812,2014-09-06,2014-09-06,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,Anna Andreadi,TEC-PH-10002033,Technology,Phones,Konftel 250 Conference phone - Charcoal black,Not,911.4240,4,0.20,68.3568
12,13,CA-2017-114412,2017-04-15,2017-04-20,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,...,Cassandra Brandow,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,Not,15.5520,3,0.20,5.4432
13,14,CA-2016-161389,2016-05-12,2016-10-12,Standard Class,IM-15070,Irene Maddox,Consumer,United States,Seattle,...,Anna Andreadi,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,Not,407.9760,3,0.20,132.5922
14,15,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,Kelly Williams,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,Not,68.8100,5,0.80,-123.8580

In [96]:
cal.head(10)

,Date,Year,Quarter,Quarter (Q),Quarter & Year,Month,Month Name,Month & Year,Week of Year,Week of Year (W),Day of Week,Day Name
0,2016-07-01,2016,3,Q3,2016 - Q3,7,Jul,Jul 2016,27,Week 27,5,Friday
1,2016-07-02,2016,3,Q3,2016 - Q3,7,Jul,Jul 2016,27,Week 27,6,Saturday
2,2016-07-03,2016,3,Q3,2016 - Q3,7,Jul,Jul 2016,27,Week 27,7,Sunday
3,2016-07-04,2016,3,Q3,2016 - Q3,7,Jul,Jul 2016,28,Week 28,1,Monday
4,2016-07-05,2016,3,Q3,2016 - Q3,7,Jul,Jul 2016,28,Week 28,2,Tuesday
5,2016-07-06,2016,3,Q3,2016 - Q3,7,Jul,Jul 2016,28,Week 28,3,Wednesday
6,2016-07-07,2016,3,Q3,2016 - Q3,7,Jul,Jul 2016,28,Week 28,4,Thursday
7,2016-07-08,2016,3,Q3,2016 - Q3,7,Jul,Jul 2016,28,Week 28,5,Friday
8,2016-07-09,2016,3,Q3,2016 - Q3,7,Jul,Jul 2016,28,Week 28,6,Saturday
9,2016-07-10,2016,3,Q3,2016 - Q3,7,Jul,Jul 2016,28,Week 28,7,Sunday

In [97]:
main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Row ID               9994 non-null   int64
 1   Order ID             9994 non-null   object
 2   Order Date           9994 non-null   datetime64[ns]
 3   Ship Date            9994 non-null   datetime64[ns]
 4   Ship Mode            9994 non-null   object
 5   Customer ID          9994 non-null   object
 6   Customer Name        9994 non-null   object
 7   Segment              9994 non-null   object
 8   Country              9994 non-null   object
 9   City                 9994 non-null   object
 10  State                9994 non-null   object
 11  Postal Code          9994 non-null   int64
 12  Region               9994 non-null   object
 13  Retail Sales People  9994 non-null   object
 14  Product ID           9994 non-null   object
 15  Category             9994 non-null   object
 16  Sub-Category         9994 non-null   object
 17  Product Name         9994 non-null   object
 18  Returned             9994 non-null   object
 19  Sales                9994 non-null   float64
 20  Quantity             9994 non-null   int64
 21  Discount             9994 non-null   float64
 22  Profit               9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(15)
memory usage: 1.8+ MB

In [98]:
cal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              1826 non-null   datetime64[ns]
 1   Year              1826 non-null   int64
 2   Quarter           1826 non-null   int64
 3   Quarter (Q)       1826 non-null   object
 4   Quarter & Year    1826 non-null   object
 5   Month             1826 non-null   int64
 6   Month Name        1826 non-null   object
 7   Month & Year      1826 non-null   object
 8   Week of Year      1826 non-null   int64
 9   Week of Year (W)  1826 non-null   object
 10  Day of Week       1826 non-null   int64
 11  Day Name          1826 non-null   object
dtypes: datetime64[ns](1), int64(5), object(6)
memory usage: 171.3+ KB

In [99]:
main.isnull().sum()

Row ID                 0
Order ID               0
Order Date             0
Ship Date              0
Ship Mode              0
Customer ID            0
Customer Name          0
Segment                0
Country                0
City                   0
State                  0
Postal Code            0
Region                 0
Retail Sales People    0
Product ID             0
Category               0
Sub-Category           0
Product Name           0
Returned               0
Sales                  0
Quantity               0
Discount               0
Profit                 0
dtype: int64

In [100]:
cal.isnull().sum()

Date                0
Year                0
Quarter             0
Quarter (Q)         0
Quarter & Year      0
Month               0
Month Name          0
Month & Year        0
Week of Year        0
Week of Year (W)    0
Day of Week         0
Day Name            0
dtype: int64

In [101]:
main.shape

(9994, 23)

In [102]:
cal.shape

(1826, 12)

In [103]:
main.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2016-04-11 07:17:44.078447104,2016-05-15 21:54:47.332399360,55190.379428,229.858001,3.789574,0.156203,28.656896
min,1.000000,2014-01-02 00:00:00,2014-01-15 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,2015-05-01 00:00:00,2015-06-20 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,2016-05-30 00:00:00,2016-07-21 00:00:00,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,2017-04-09 00:00:00,2017-06-02 00:00:00,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,2017-12-30 00:00:00,2018-05-01 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000
std,2885.163629,NaN,NaN,32063.693350,623.245101,2.225110,0.206452,234.260108

In [104]:
cal.describe()

,Date,Year,Quarter,Month,Week of Year,Day of Week
count,1826,1826.000000,1826.000000,1826.000000,1826.000000,1826.000000
mean,2016-07-01 12:00:00,2016.000000,2.508762,6.523549,27.014239,4.001095
min,2014-01-01 00:00:00,2014.000000,1.000000,1.000000,1.000000,1.000000
25%,2015-04-02 06:00:00,2015.000000,2.000000,4.000000,14.000000,2.000000
50%,2016-07-01 12:00:00,2016.000000,3.000000,7.000000,27.000000,4.000000
75%,2017-09-30 18:00:00,2017.000000,4.000000,10.000000,40.000000,6.000000
max,2018-12-31 00:00:00,2018.000000,4.000000,12.000000,53.000000,7.000000
std,NaN,1.414214,1.117326,3.449478,15.069985,2.000548

In [105]:
main.columns=main.columns.str.lower()

In [106]:
main.columns=main.columns.str.replace(" ","_")

In [107]:
main.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'retail_sales_people', 'product_id',
       'category', 'sub-category', 'product_name', 'returned', 'sales',
       'quantity', 'discount', 'profit'],
      dtype='object')

In [108]:
main.columns=main.columns.str.replace("-","_")

In [109]:
main.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'retail_sales_people', 'product_id',
       'category', 'sub_category', 'product_name', 'returned', 'sales',
       'quantity', 'discount', 'profit'],
      dtype='object')

In [110]:
cal.columns=cal.columns.str.lower()

In [111]:
cal.columns=cal.columns.str.replace(" ","_")

In [112]:
cal.columns

Index(['date', 'year', 'quarter', 'quarter_(q)', 'quarter_&_year', 'month',
       'month_name', 'month_&_year', 'week_of_year', 'week_of_year_(w)',
       'day_of_week', 'day_name'],
      dtype='object')

In [113]:
main['order_date']=pd.to_datetime(main['order_date'])
main['ship_date']=pd.to_datetime(main['ship_date'])

cal['date']=pd.to_datetime(cal['date'])

In [114]:
main['delivery_date']=(main['ship_date']-main['order_date']).dt.days

In [115]:
main.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'retail_sales_people', 'product_id',
       'category', 'sub_category', 'product_name', 'returned', 'sales',
       'quantity', 'discount', 'profit', 'delivery_date'],
      dtype='object')

In [116]:
main['profit_margin']=(main['profit']/main['sales']*100)

In [117]:
main=main.merge(cal,left_on='order_date',right_on='date',how='left')

In [118]:
main.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'retail_sales_people', 'product_id',
       'category', 'sub_category', 'product_name', 'returned', 'sales',
       'quantity', 'discount', 'profit', 'delivery_date', 'profit_margin',
       'date', 'year', 'quarter', 'quarter_(q)', 'quarter_&_year', 'month',
       'month_name', 'month_&_year', 'week_of_year', 'week_of_year_(w)',
       'day_of_week', 'day_name'],
      dtype='object')

In [122]:
total_sales=main['sales'].sum()
print(total_sales)

2297200.8603000003

In [120]:
total_profit=main['profit'].sum()
print(total_profit)

286397.0217

In [139]:
total_order=main['order_id'].nunique()
print(total_order)

5009

In [141]:
total_customer=main['customer_id'].nunique()
print(total_customer)

793

In [140]:
main.duplicated('customer_id').sum()

np.int64(9201)

In [133]:
main['order_id'].value_counts().head()

order_id
CA-2017-100111    14
CA-2017-157987    12
CA-2016-165330    11
US-2016-108504    11
US-2015-126977    10
Name: count, dtype: int64

In [137]:
main[main['order_id'] == 'CA-2016-152156']

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,quarter,quarter_(q),quarter_&_year,month,month_name,month_&_year,week_of_year,week_of_year_(w),day_of_week,day_name
6090,6091,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,Seth Vernon,Consumer,United States,New York City,...,3,Q3,2017 - Q3,9,Sep,Sep 2017,39,Week 39,3,Wednesday
6091,6092,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,Seth Vernon,Consumer,United States,New York City,...,3,Q3,2017 - Q3,9,Sep,Sep 2017,39,Week 39,3,Wednesday
6092,6093,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,Seth Vernon,Consumer,United States,New York City,...,3,Q3,2017 - Q3,9,Sep,Sep 2017,39,Week 39,3,Wednesday
6093,6094,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,Seth Vernon,Consumer,United States,New York City,...,3,Q3,2017 - Q3,9,Sep,Sep 2017,39,Week 39,3,Wednesday
6094,6095,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,Seth Vernon,Consumer,United States,New York City,...,3,Q3,2017 - Q3,9,Sep,Sep 2017,39,Week 39,3,Wednesday
6095,6096,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,Seth Vernon,Consumer,United States,New York City,...,3,Q3,2017 - Q3,9,Sep,Sep 2017,39,Week 39,3,Wednesday
6096,6097,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,Seth Vernon,Consumer,United States,New York City,...,3,Q3,2017 - Q3,9,Sep,Sep 2017,39,Week 39,3,Wednesday
6097,6098,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,Seth Vernon,Consumer,United States,New York City,...,3,Q3,2017 - Q3,9,Sep,Sep 2017,39,Week 39,3,Wednesday
6098,6099,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,Seth Vernon,Consumer,United States,New York City,...,3,Q3,2017 - Q3,9,Sep,Sep 2017,39,Week 39,3,Wednesday
6099,6100,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,Seth Vernon,Consumer,United States,New York City,...,3,Q3,2017 - Q3,9,Sep,Sep 2017,39,Week 39,3,Wednesday
6100,6101,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,Seth Vernon,Consumer,United States,New York City,...,3,Q3,2017 - Q3,9,Sep,Sep 2017,39,Week 39,3,Wednesday
6101,6102,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,Seth Vernon,Consumer,United States,New York City,...,3,Q3,2017 - Q3,9,Sep,Sep 2017,39,Week 39,3,Wednesday
6102,6103,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,Seth Vernon,Consumer,United States,New York City,...,3,Q3,2017 - Q3,9,Sep,Sep 2017,39,Week 39,3,Wednesday
6103,6104,CA-2017-100111,2017-09-20,2017-09-26,Standard Class,SV-20365,Seth Vernon,Consumer,United States,New York City,...,3,Q3,2017 - Q3,9,Sep,Sep 2017,39,Week 39,3,Wednesday

In [145]:
return_rate=main['returned'].value_counts(normalize='True')*100
return_rate

returned
Not    91.995197
Yes     8.004803
Name: proportion, dtype: float64

In [149]:
main.groupby('customer_name')['sales'].sum().sort_values(ascending=False).head(10)

customer_name
Sean Miller           25043.050
Tamara Chand          19052.218
Raymond Buch          15117.339
Tom Ashbrook          14595.620
Adrian Barton         14473.571
Ken Lonsdale          14175.229
Sanjit Chand          14142.334
Hunter Lopez          12873.298
Sanjit Engle          12209.438
Christopher Conant    12129.072
Name: sales, dtype: float64

In [151]:
main.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'retail_sales_people', 'product_id',
       'category', 'sub_category', 'product_name', 'returned', 'sales',
       'quantity', 'discount', 'profit', 'delivery_date', 'profit_margin',
       'date', 'year', 'quarter', 'quarter_(q)', 'quarter_&_year', 'month',
       'month_name', 'month_&_year', 'week_of_year', 'week_of_year_(w)',
       'day_of_week', 'day_name'],
      dtype='object')

In [153]:
main.groupby('retail_sales_people')['profit'].sum().sort_values(ascending=False)

retail_sales_people
Anna Andreadi        108418.4489
Chuck Magee           91522.7800
Cassandra Brandow     46749.4303
Kelly Williams        39706.3625
Name: profit, dtype: float64

In [158]:
main[main['profit']<0]

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,quarter,quarter_(q),quarter_&_year,month,month_name,month_&_year,week_of_year,week_of_year_(w),day_of_week,day_name
3,4,US-2015-108966,2015-11-10,2015-11-10,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,4,Q4,2015 - Q4,11,Nov,Nov 2015,46,Week 46,2,Tuesday
14,15,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,4,Q4,2015 - Q4,11,Nov,Nov 2015,47,Week 47,7,Sunday
15,16,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,4,Q4,2015 - Q4,11,Nov,Nov 2015,47,Week 47,7,Sunday
23,24,US-2017-156909,2017-07-16,2017-07-18,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,...,3,Q3,2017 - Q3,7,Jul,Jul 2017,29,Week 29,7,Sunday
27,28,US-2015-150630,2015-09-17,2015-09-21,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,...,3,Q3,2015 - Q3,9,Sep,Sep 2015,38,Week 38,4,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9920,9921,CA-2016-149272,2016-03-15,2016-03-19,Standard Class,MY-18295,Muhammed Yedwab,Corporate,United States,Bryan,...,1,Q1,2016 - Q1,3,Mar,Mar 2016,12,Week 12,2,Tuesday
9921,9922,CA-2014-111360,2014-11-24,2014-11-30,Standard Class,AT-10435,Alyssa Tate,Home Office,United States,Akron,...,4,Q4,2014 - Q4,11,Nov,Nov 2014,48,Week 48,1,Monday
9931,9932,CA-2015-104948,2015-11-13,2015-11-17,Standard Class,KH-16510,Keith Herrera,Consumer,United States,San Bernardino,...,4,Q4,2015 - Q4,11,Nov,Nov 2015,46,Week 46,5,Friday
9937,9938,CA-2016-164889,2016-03-06,2016-06-06,Second Class,CP-12340,Christine Phan,Corporate,United States,Los Angeles,...,1,Q1,2016 - Q1,3,Mar,Mar 2016,10,Week 10,7,Sunday
9962,9963,CA-2015-168088,2015-03-19,2015-03-22,First Class,CM-12655,Corinna Mitchell,Home Office,United States,Houston,...,1,Q1,2015 - Q1,3,Mar,Mar 2015,12,Week 12,4,Thursday

In [163]:
from sqlalchemy import create_engine

# step 1: conncet to postgresql
# replace placholder with your actual details
username="root"
password="rohit"
host="localhost"
port="3306"
database="retail_supply_chain"

engine=create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")
# step 2 : load dataframe into postgreaql
table_name= "customer"  #choose any table name
main.to_sql(table_name,engine,if_exists="replace",index=False)
print(f"data successfull load into table'{table_name}' in database '{database} ',")

OperationalError: (psycopg2.OperationalError) connection to server at "127.0.0.1", port 3306 failed: received invalid response to SSL negotiation: J

(Background on this error at: https://sqlalche.me/e/20/e3q8)